html {
    font-family: 'Lato', sans-serif;
}

html, body {
    margin: 0px;
    height: 100%;
}

#ui-control {
    position: absolute;
    z-index: 1;
    top: 12px;
    right: 12px;
    height: 0;
    opacity: 0;
}

#ui-control.active {
    height: auto;
    opacity: 1;
}

#ui-control .brb-ui-class-selector {
    width: 36px;
    height: 36px;
    margin: 2px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#ui-control .brb-ui-class-selector.brb-selected {
    border: 2px solid #FFFFFF;
    width: 32px;
    height: 32px;
}

.brb-ui-class-selector.brb-style-1 {
    background: linear-gradient( -45deg, #FFFFFF 50%, #8AAAE5 50%);
}
.brb-ui-class-selector.brb-style-2 {
    background: linear-gradient( -45deg, #101820 50%, #FEE715 50%);
}
.brb-ui-class-selector.brb-style-3 {
    background: linear-gradient( -45deg, #FCE77D 50%, #F96167 50%);
}
.brb-ui-class-selector.brb-style-4 {
    background: linear-gradient( -45deg, #4831D4 50%, #CCF381 50%);
}

.brb-style-1 {
    background-color: #8AAAE5;
    color: #FFFFFF;
}
.brb-style-2 {
    background-color: #FEE715;
    color: #101820;
}
.brb-style-3 {
    background-color: #F96167;
    color: #FCE77D;
}
.brb-style-4 {
    background-color: #CCF381;
    color: #4831D4;
}

#content {
    border: 1px solid #FFFFFF;
    position: absolute;
    z-index: 0;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 48px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;  
}