html {
    font-family: 'Lato', sans-serif;
    background-color: #8AAAE5;
}

html, body {
    margin: 0px;
    height: 100%;
}

#content {
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    font-size: 48px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;  
}